$colorBlue: #2196f3;
$colorWhite: #fff;
$сolorGrey: #c3cdd3;
$colorBlack: #4a4a4a;
$colorBG: #f3f7fa;
:export {
  colorBlue: $colorBlue;
  colorWhite: $colorWhite;
  сolorGrey: $сolorGrey;
  colorBlack: $colorBlack;
  colorBG: $colorBG;
}

